<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>All Contestant Ratings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Handle</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="contestant : ${contestantList}">
                <td th:text="${contestant.handle}"></td>
                <td th:text="${contestant.rating}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>